* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #0F172A;
}

.container {
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}
h1 {
	text-align: center;
	margin-top: 50px;
}

.add-item {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.add-item input {
	width: 300px;
	padding: 20px;
	margin-right: 10px;
	border-radius: 5px;
	background-color: #f2f2f2;
}

.add-item button {
	padding: 20px;
	border-radius: 5px;
	border: none;
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
}

.list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.list li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: #f2f2f2;
}

.list li label {
	margin-right: 10px;
}

.list li input[type="checkbox"] {
	margin-right: 10px;
}

.list li button {
	margin-left: auto;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #f44336;
	color: white;
	cursor: pointer;
}
